<% provide:title, t(".help") %>
<h1><%= t  ".help" %></h1>
<p>Get help on the <%= t(".rails")%> at the
  <%= link_to t(".help_d"), Settings.a_help%></a>.
  To get help on this sample app, see the
  <em><%= link_to t(".rails"), Settings.a%></em>
  book</a>.</p>
